device.name=HUAWEI Mate 10 Pro
device.udid=AQH7N18201026651
platform  = ANDROID
platform.version=10
automationName=UiAutomator2
app=C:\\Users\\andres.aparicio\\Academy\\202003\\OpenDeviceLab.apk
android.app.package=com.ba.universalconverter
android.app.activity=com.ba.universalconverter.MainConverterActivity
appium.server.ip=127.0.0.1
appium.server.port=4723
appium.new.command.timeout=180
appium.timeout=60